/*-------------------------
	Printing Styles
--------------------------*/
@media print {
  .no-print, .no-print * { display: none !important; }
  .no-break { page-break-inside: avoid; }
}


/*-------------------------
	General Styles
--------------------------*/
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow-y: scroll;
  background: #eee;
  color: black;
}

h1 {
  font-size: 36px;
}

h1, h2, h3 {
  font-weight: 500;
  line-height: 1.1;
  color: black;
}

hr {
  color: black;
}


/*-------------------------
	Panel Styles
--------------------------*/
.panel-left {
  height: 100%;
  width: 350px;
  background: white;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  outline: 1px solid rgba(0,0,0,0.2);
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}
.panel-right {
  height: 100%;
  width: 350px;
  background: white;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  outline: 1px solid rgba(0,0,0,0.2);
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

.form-panel {
  margin: 5px
}

.form-header {
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  background: #eee;
  border-radius: 6px 6px 0px 0px;
  border: 1px solid black;
}

.form-body {
  padding: 10px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

/* label [input] row formatting */
div.form-row {
  padding-bottom: 1.25em;
}
div.form-row label {
  width: 10em;
  padding-top: .1em;
  padding-right: .25em;
  text-align: right;
  display: block;
  float: left;
}
div.form-row input,
div.form-row textarea {
  display: block;
}
div.form-row select {
  display: block;
}
div.form-row .select-objectives {
  height: 110px;
}
div.form-row .select-maps {
  width: 100%;
  height: 110px;
}


/*-------------------------
	Page Structure
--------------------------*/
.report {
  height: 100%;
  background: white;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.page {
  margin: 25px;
  width: 700px;
}

/* Map styles. */
#map-holder {
  height: 850px;
  width: 700px;
}


/*-------------------------
	Chart Styles
--------------------------*/
.chart-row {
  width: 100%;
  padding-bottom: 15px;
}

.chart-panel {
  width: 50%;
  /* This is said not to work in IE, unfortunately, inline-block doesn't work
   * for us */
  display: table-cell;
  padding-right: 15px;
}

.chart-header {
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  background: #eee;
  border-radius: 6px 6px 0px 0px;
  border: 1px solid black;
}

.chart-box {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.chart-caption {
  text-align: left;
  padding: 5px;
}

.chart-container {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}


/*-------------------------
	Stats Table Styles
--------------------------*/
.stats-table {
  width: 100%;
  background: #eee;
  border-radius: 6px 6px 0px 0px;
  border: 1px solid black;
  display: table;
}
.stats-summary-table {
  width: 100%;
  display: table;
}
.stats-header-row {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid black;
  display: table-row;
}
.stats-row {
  background: white;
  display: table-row;
}
.stats-footer-row {
  height: 30px;
  line-height: 30px;
  display: table-row;
}
.stats-header-cell {
  font-weight: bold;
  border-bottom: 1px solid black;
  display: table-cell;
}
.stats-cell {
  display: table-cell;
  border-bottom: 1px solid black;
}
.stats-footer-cell {
  font-weight: bold;
  display: table-cell;
}

/*-------------------------
	Map Styles
--------------------------*/
#geojson-controls {
  padding-bottom: 8px;
}

#geojson-input {
  width: 100%;
  -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
  -moz-box-sizing: border-box; /* FF1+ */
  box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
  border: none;
  resize: none;
  background-color: #F1F1F1;
}

#panel-title {
  font-size: 20px;
  line-height: 24px;
  color: #DD4B39;
}

.subtitle {
  font-size: 16px;
  color: #222222;
}

#geojson-input {
  background-color: #F1F1F1;
}

#geojson-input.invalid {
  background-color: #FAC6C0;
}



section footer, header, aside, nav{
	display: flex;
}


/*-------------------------
	The menu
--------------------------*/

nav{
	display:flex;
	margin:0px auto 45px;
	background-color:#5597b4;
	box-shadow:0 1px 1px #ccc;
	border-radius:2px;
}

nav a{
	display:flex;
	padding: 18px 30px;
	color:#fff !important;
	font-size:20px;
	font-weight:bold;
	text-decoration:none !important;
	line-height:1;
	text-transform: uppercase;
	background-color:transparent;	
}

a:hover{
	color:#ffd700 !important;
}

.tab_active {
	background-color:red;
}

