<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BSD Boundary Entry</title>

    <script src="angular.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="fillgriddbdev.js"></script>
    <link href="style.css" rel="stylesheet" />
</head>
<body ng-app="BoundaryEntry">
    <div ng-controller="BoundaryController">
        <div class="panel-left" class="no-print">
            <div class="form-panel">
                <div class="form-header">Grid Code Data Entry</div>
                <div class="form-body">
                    <form novalidate class="css-form">
                        <div class="form-row">
                            <label>Grid Code</label>
                            <input type="number" ng-model="data.gc" required />
                        </div>
                        <div class="form-row">
                            <label>Projected Students</label>
                            <input type="number" ng-model="data.hs2020" required /><br />
                        </div>
                        <div class="form-row">
                            <label>Reduced Lunch Students</label>
                            <input type="number" ng-model="data.reducedLunch" /><br />
                        </div>
                        <div class="form-row">
                            <label> Current High School: </label>
                            <select name="High" id="High" ng-model="data.high" value="data.high">
                                <option value="Aloha">Aloha</option>
                                <option value="Beaverton">Beaverton</option>
                                <option value="Southridge">Southridge</option>
                                <option value="Sunset">Sunset</option>
                                <option value="Westview">Westview</option>
                            </select>
                        </div>
                        <div class="form-row">
                            <label>Current Middle School: </label>
                            <select name="Middle" id="Middle" ng-model="data.middle">
                                <option value="Cedar Park">Cedar Park</option>
                                <option value="Conestoga">Conestoga</option>
                                <option value="Five Oaks">Five Oaks</option>
                                <option value="Highland Park">Highland Park</option>
                                <option value="Meadow Park">Meadow Park</option>
                                <option value="Mountain View">Mountain View</option>
                                <option value="Stoller">Stoller</option>
                                <option value="Whitford">Whitford</option>
                            </select>
                        </div>
                        <div class="form-row">
                            <label>Current Elementary School: </label>
                            <select name="Elementary" id="Elementary" ng-model="data.elementary">
                                <option value="Aloha-Huber Park">Aloha-Huber Park</option>
                                <option value="Barnes">Barnes</option>
                                <option value="Beaver Acres">Beaver Acres</option>
                                <option value="Bethany">Bethany</option>
                                <option value="Bonny Slope">Bonny Slope</option>
                                <option value="Cedar Mill">Cedar Mill</option>
                                <option value="Chehalem">Chehalem</option>
                                <option value="Cooper Mountain">Cooper Mountain</option>
                                <option value="Elmonica">Elmonica</option>
                                <option value="Errol Hassell">Errol Hassell</option>
                                <option value="Findley">Findley</option>
                                <option value="Fir Grove">Fir Grove</option>
                                <option value="Greenway">Greenway</option>
                                <option value="Hazeldale">Hazeldale</option>
                                <option value="Hiteon">Hiteon</option>
                                <option value="Jacob Wismer">Jacob Wismer</option>
                                <option value="Kinnaman">Kinnaman</option>
                                <option value="Mckay">Mckay</option>
                                <option value="Mckinley">Mckinley</option>
                                <option value="Montclair">Montclair</option>
                                <option value="Nancy Ryles">Nancy Ryles</option>
                                <option value="Oak Hills">Oak Hills</option>
                                <option value="Raleigh Hills">Raleigh Hills</option>
                                <option value="Raleigh Park">Raleigh Park</option>
                                <option value="Ridgewood">Ridgewood</option>
                                <option value="Rock Creek">Rock Creek</option>
                                <option value="Scholls Heights">Scholls Heights</option>
                                <option value="Sexton Mountain">Sexton Mountain</option>
                                <option value="Springville">Springville</option>
                                <option value="Terra Linda">Terra Linda</option>
                                <option value="Vose">Vose</option>
                                <option value="West Tualatin View">West Tualatin View</option>
                                <option value="William Walker">William Walker</option>
                            </select>
                        </div>
                        <input type="button" ng-click="NewGrid(data)" value="Add Selected Grid" />
                        <input type="button" ng-click="EditGrid(data)" value="Update Selected Grid" />
                        <input type="button" ng-click="DeleteGrid(data)" value="Delete Selected Grid" />
                        <input type="button" ng-click="DBRefresh()" value="Refresh from DB" />
                    </form>
                </div>
            </div> <!-- Grid Code Data Entry -->

            <div class="form-panel">
                <div class="form-header">Instructions</div>
                <div class="form-body">
                    <ol type="1">
                        <li>Navigate to a location where grid codes need to be entered (area not already shaded/colored).</li>
                        <li>Select the <img src="polyline.png" alt="polyline tool"> (top left of the map) and trace a grid on the map (lines in burgundy) by clicking on the corners of the grid.  The new polygon is drawn grey before it is entered into the database.</li>
                        <li>From the map, enter the following data into the table above:</li>
                        <ul>
                            <li>grid code number (small black text; only enter the numbers following the "GC")</li>
                            <li>projected student population (larger burgundy text)</li>
                            <li>reduced lunch students (number of blue circles in grid)</li>
                            <li>current high school (outlined with dashed orange line)</li>
                            <li>current middle school (outlined with red line)</li>
                            <li>current elementary school (outlined with blue line)</li>
                        </ul>
                        <li>Press "Add Selected Grid."  This computes the distance to all high schools, uploads the grid to the shared database and updates your browser from the database.
                            The new grid changes from grey to the high school color.</li>
                    </ol>
                    <p>"Edit Selected Grid" changes a grid already in the database and refreshes the map from the database.  
                    To edit a grid, select a grid using the <img src="hand.png" alt="hand tool" width="12" height="12"> on the top left.  Change the grid location and/or table data, 
                    and then press the "Edit Selected Grid" button.</p>
                    <p>"Delete Selected Grid" deletes the selected grid from the database and refreshes the browser from the database.</p>
                    <p>"Refresh from DB" updates the map from the database deleting any data that has not been entered.</p>
                    <p>If the underlayed map is unclear or hard to read, please
                    refer to the Beaverton school district maps linked to in
                    Resources below (they provide the same information).</p>

                    <!-- <pre>data = {{data | json}}</pre> -->
                </div>
            </div><!-- Instructions -->

            <div class="form-panel">
                <div class="form-header">Resources</div>
                <div class="form-body">
                    <p>The data used in this tool was manually extracted, and may
                    contain errors, from the following resources:</p>
                    <a href="https://www.beaverton.k12.or.us/depts/facilities/boundary/HS%20Boundary%20Adjustment%20Process/11.12.15/Springboard%20Committee%20Table%20Map.pdf">Grid Codes</a> |
                    <a href="https://www.beaverton.k12.or.us/depts/facilities/boundary/Documents/AllFacilities.pdf">BSD School Boundaries</a>
                    <hr/>
                    *This tool and the data provided are in no way authorized or
                    supported by the Beaverton School District.
                </div>
            </div><!-- Resources -->
        </div><!-- left panel -->

        <div class="report">
            <div class="page no-break">
                <h1>Beaverton School District</h1>
                <h2>Manual Data Extraction Tool</h2>
                <div id="map-holder"></div>
            </div> <!-- page -->
        </div><!-- report -->
    </div><!-- BoundaryController -->
</body>
</html>
