<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BSD Solution Entry</title>

    <script src="angular.min.js"></script>
    <script src="Chart.min.js"></script>
    <script src="angular-chart.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWyRLZL9ZAgMeSQl2n3LZvp89wXCj4ttM"></script>
    <script src="Calculations.js"></script>
    <script src="ServerApi.js"></script>
    <script src="recalculate.js"></script>
    <link href="style.css" rel="stylesheet" />
    <link href="angular-chart.min.css" rel="stylesheet"/>
    <style type="text/css">
        #container {
            height: 100%;
            width: 100%;
            font-size: 0;
        }

        #panel, #safety-map-container {
            display: inline-block;
            *display: inline;
            zoom: 1;
            vertical-align: top;
            font-size: 12px;
        }

        #panel {
            width: 21%;
            margin: 10px;
        }

        #safety-map-container {
            width: 77%;
        }
        #safety-map-holder {
            height: 870px;
            width: 100%;
        }
    </style>
</head>
<body ng-app="BoundaryEntry">
    <div id="container" ng-controller="BoundaryController">
        <div id="panel">
            <div id="panel-content" width 200px>
                <form class="css-form">
                    <label>To High School</label>
                    <select name="EvalHigh" id="evalHigh" ng-model="data.evalHigh" value="data.evalHigh" ng-change="UpdateHigh()">
                        <option value="Current">Current</option>
                        <option value="Aloha">Aloha</option>
                        <option value="Beaverton">Beaverton</option>
                        <option value="Cooper">Cooper Mountain</option>
                        <option value="Southridge">Southridge</option>
                        <option value="Sunset">Sunset</option>
                        <option value="Westview">Westview</option>
                    </select>

                    <br>
                    <input type="button" ng-click="RecalculateRoutes()" value="Calculate Routes" /> {{data.progress}}<br>
                    <input type="button" ng-click="CalculateSafety()" value="Calculate Safety" /> {{data.progressSafety}}<br>
                    <br>

                    <div class="form-row">
                       <a href="http://www.co.washington.or.us/LUT/Divisions/Building/Reports/building-permit-search.cfm">Download Building Permits</a><br>
                       <a href="http://www.ode.state.or.us/sfda/reports/r0073Select.asp">Download Enrollment Report</a><br><br>

                       Data File to Parse:
                        <select name="EvalHigh" id="evalHigh" ng-model="data.fileParse" value="data.fileParse"">
                            <option value="Permit">Building Permits</option>
                            <option value="Enrollment">Enrollment Report</option>
                            <option value="ScoolJson">Schools.json</option>
                        </select><br>
                        <input type="file" on-read-file="parseFile($fileContent)" /><br>
						<input type="button" ng-click="GeocodePermits()" value="Permit to GC" /> {{data.geocodeProgress}}<br>
                        <div ng-if="data.fileData">
                            <h2>File content is:</h2>
                            <pre>{{ data.fileData }}</pre>
                        </div>
                    </div>
                    <br><br>
                </form>
            </div>
        </div>
        <div id="safety-map-container">
            <ul></ul>
            <div id="safety-map-holder"></div>
        </div>
    </div>
</body>
</html>
