<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BSD Solution Entry</title>

    <script src="angular.min.js"></script>
    <script src="Chart.min.js"></script>
    <script src="angular-chart.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="solution.js"></script>
    <link href="style.css" rel="stylesheet" />
    <link href="angular-chart.min.css" rel="stylesheet"/>
</head>
<body ng-app="BoundaryEntry">
    <div ng-controller="BoundaryController">
        <div id="panel">
            <div id="panel-content">
                <a href="https://www.beaverton.k12.or.us/depts/facilities/boundary/HS%20Boundary%20Adjustment%20Process/11.12.15/Springboard%20Committee%20Table%20Map.pdf">Grid Codes</a>
                <a href="https://www.beaverton.k12.or.us/depts/facilities/boundary/Documents/AllFacilities.pdf">BSD School Boundaries</a>
                <form novalidate class="css-form">
                    <label> Proposed High School: </label>
                    <select name="ProposedHigh" id="proposedHigh" ng-model="data.proposedHigh" value="data.proposedHigh">
                        <option value="Aloha">Aloha</option>
                        <option value="Beaverton">Beaverton</option>
                        <option value="Cooper">Cooper Mountain</option>
                        <option value="Southridge">Southridge</option>
                        <option value="Sunset">Sunset</option>
                        <option value="Westview">Westview</option>
                    </select>
                    <br>
                    <label> Apply to: </label>
                    <select name="PaintBy" id="paintBy" ng-model="data.paintBy" value="data.paintBy">
                        <option value="GC">Grid Code</option>
                        <option value="ES">Elementary Boundary</option>
                    </select>
                    <br>
                    <input type="button" ng-click="DBRefresh()" value="Refresh from DB" />
                    <br>
                </form>
            </div>
            <div id="solutiondb-form">
                <h4><a href="#" ng-click="saveForm = ! saveForm">V Save Solution</a></h4>
                <div class="procedure-details" ng-show="saveForm">
                    <form novalidate class="css-form">
                        <p>Simple clear saving instructions</p>
                        Solution Name: <input type="text" ng-model="data.solutionName" required /><br />
                        Description: <input type="text" ng-model="data.solutionDescription" /><br />
                        Name: <input type="text" ng-model="data.solutionUsername" /><br />
                        Email: <input type="email" ng-model="data.solutionEmail" required /><br />
                        url: <input type="url" ng-model="data.solutionUrl"  /><br />
                        Primary Objectives:<br />
                        <select name="PrimaryObjectives" id="primaryObjectives" ng-model="data.submission.primaryObjectives" value="data.solution.primaryObjectives" multiple>
                            <option value="Space">Space</option>
                            <option value="Proximity">Proximity</option>
                            <option value="Safety">Safety</option>
                            <option value="Unity">Neighborhood Unity</option>
                        </select><br />
                        Other Objectives:<br />
                        <select name="OtherObjectives" id="otherObjectives" ng-model="data.submission.otherObjectives" value="data.solution.otherObjectives" multiple>
                            <option value="transportCost">Transportation Cost</option>
                            <option value="composition">Student Body Composition</option>
                            <option value="feeders">Feeder Schools</option>
                            <option value="buildingEfficiency">Building Efficiency</option>
                            <option value="education">Education</option>
                        </select><br />

                        <input type="submit" ng-click="SaveToDB()" value="Save Solution" />
                </form>
                </div>

                <h4><a href="#" ng-click="loadForm = ! loadForm">V Load Solution</a></h4>
                <div class="procedure-details" ng-show="loadForm">
                    <p>Search For Solution</p>
                    Solution Name: <input type="text" ng-model="data.searchName" required /><br />
                    Description: <input type="text" ng-model="data.searchDescription" required /><br />
                    Name: <input type="text" ng-model="data.searchUsername" required /><br />
                    Email: <input type="email" ng-model="data.searchEmail" required /><br />

                    <input type="button" ng-click="LoadFromDB()" value="Find Solutions" /><br>
                    <select id="myselection" multiple ng-multiple="false" ng-model="data.selectedSolution" ng-change="SelectSolution()" ng-options="c.solutionName for c in data.solutions"></select>
                </div>
            </div>
            <div id="chart-container">
                <p>Capacity</p>
                <canvas id="bar" class="chart chart-bar" chart-data="data.students" chart-labels="data.schools" chart-series="series"> </canvas>
                <p>Capacity %</p>
                <canvas id="bar2" class="chart chart-bar" chart-data="data.capacity_p" chart-labels="data.schools" chart-series="schools"> </canvas>
                <p>Proximity</p>
                <p>Travel Distance (miles): {{data.milesTraveled}}</p>
                <canvas id="bar3" class="chart chart-bar" chart-data="data.distance" chart-labels="data.schools" chart-series="schools"> </canvas>
                <p>Transitions</p>
                <p>Student Transitions: {{data.total_transitions}}</p>
                <canvas id="bar4" class="chart chart-bar" chart-data="data.transitions" chart-labels="data.schools" chart-series="schools"> </canvas>
                <p>Equity</p>
                (As measured by Free and Reduced Lunch Percentage)
                <canvas id="bar5" class="chart chart-bar" chart-data="data.frl_p" chart-labels="data.schools" chart-series="schools"> </canvas>
            </div>
            <pre>data = {{data | json}}</pre>            
        </div>
        <div id="map-container">
            <div id="map-holder"></div>
        </div>
    </div>
</body>
</html>
