<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School Boundary Explorer</title>

    <script src="angular.min.js"></script>
    <script src="Chart.min.js"></script>
    <script src="angular-chart.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="Calculations.js"></script>
    <script src="ServerApi.js"></script>
    <script src="solution.js"></script>
    <link href="style.css" rel="stylesheet" />
    <link href="angular-chart.min.css" rel="stylesheet"/>
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-72791728-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body ng-app="BoundaryEntry">
    <div ng-controller="BoundaryController as bc" keyboard="bc.keys">
        <div class="panel-left no-print">
            <div class="form-panel">
                <div class="form-header">BSD Solution Editor</div>
                <div class="form-body">
                    <form novalidate class="css-form">
                        <div class="form-row">
                            <label>Proposed High School</label>
                            <select name="ProposedHigh" id="proposedHigh" ng-model="data.proposedHigh" value="data.proposedHigh">
                                <option value="Aloha">Aloha</option>
                                <option value="Beaverton">Beaverton</option>
                                <option value="Cooper">Cooper Mountain</option>
                                <option value="Southridge">Southridge</option>
                                <option value="Sunset">Sunset</option>
                                <option value="Westview">Westview</option>
                                <option value="Closest">Closest High School</option>
                                <option value="Safest">Safest Travel</option>
                                <option value="Unassigned">Unassigned</option>
                            </select>
                        </div>
                        <div class="form-row">
                            <label>Apply To</label>
                            <select name="PaintBy" id="paintBy" ng-model="data.paintBy" value="data.paintBy">
                                <option value="GC">Grid Code</option>
                                <option value="ES">Elementary Boundary</option>
                            </select>
                        </div>
                        <div class="form-row">
                            <label>Drag on Map</label>
                            <select name="DragFunc" id="dragFunc"
                                ng-model="data.dragFunc" value="data.dragFunc"
                                ng-change="ChangeDragFunc()">
                                <option value="pan">Moves Map</option>
                                <option value="paint">Applies High School</option>
                            </select>
                        </div>
                        <div class="form-row">
                            <label>Color Map By</label>
                            <select name="ColorMap" id="colormap" ng-model="data.colorMap" value="data.colorMap" ng-change="ColorMap()">
                                <option value="Proposed">Proposed High School</option>
                                <option value="Distance">Proposed HS Distance</option>
                                <option value="Safety">Proposed HS Crash Rate</option>
                                <option value="Aloha">Aloha Crash Rate</option>
                                <option value="Beaverton">Beaverton Crash Rate</option>
                                <option value="Cooper">Cooper Crash Rate</option>
                                <option value="Southridge">Southridge Crash Rate</option>
                                <option value="Sunset">Sunset Crash Rate</option>
                                <option value="Westview">Westview Crash Rate</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div> <!-- BSD Solution Editor -->

            <div class="form-panel">
                <div class="form-header">Load Map</div>
                <div class="procedure-details form-body">
                    <form class="css-form">
                        <p>Enter search terms and press  'Find
                        Maps'. Click on a map name in the list to load it. To
                        list all maps, leave the search terms blank and press
                        'Find Maps'.</p>

                        <div class="form-row">
                            <label>Solution Name</label>
                            <input type="text" ng-model="data.searchName" />
                        </div>
                        <div class="form-row">
                            <label>Description</label>
                            <input type="text" ng-model="data.searchDescription" />
                        </div>
                        <div class="form-row">
                            <label>Name</label>
                            <input type="text" ng-model="data.searchUsername" />
                        </div>
                        <div class="form-row">
                            <label>Email</label>
                            <input type="email" ng-model="data.searchEmail" />
                        </div>
                        <div class="form-row">
                            <label></label>
                            <input type="button" ng-click="LoadFromDB()" value="Find Maps" />
                        </div>
                        <div class="form-row">
                            <select class='select-maps' multiple ng-multiple="false"
                                ng-model="data.selectedSolution" ng-change="SelectSolution()"
                                ng-options="c.solutionName for c in data.solutions">
                            </select>
                        </div>
                    </form>
                </div>
            </div> <!-- Load Panel -->

            <div class="form-panel">
                <div class="form-header">Save Map</div>
                <div class="procedure-details form-body">
                    <form class="css-form" ng-submit="SaveSolution()">
                        <p>To save your map for others to find an review, please
                        fill in the required fields (*) and select your primary
                        and secondary objections from the list. Use Control or
                        Command to select multiple entries.</p>

                        <div class="form-row">
                            <label>* Solution Name</label>
                            <input type="text" ng-model="data.solutionName" required />
                        </div>
                        <div class="form-row">
                            <label>* Description</label>
                            <input type="text" ng-model="data.solutionDescription" required />
                        </div>
                        <div class="form-row">
                            <label>* Submitter Name</label>
                            <input type="text" ng-model="data.solutionUsername" required />
                        </div>
                        <div class="form-row">
                            <label>* Submitter Email</label>
                            <input type="email" ng-model="data.solutionEmail" required />
                        </div>
                        <div class="form-row">
                            <label>URL</label>
                            <input type="url" ng-model="data.solutionUrl" />
                        </div>
                        <div class="form-row">
                            <label>Primary Objectives</label>
                            <select name="PrimaryObjectives" class="select-objectives" id="primaryObjectives"
                                ng-model="data.submission.primaryObjectives"
                                value="data.solution.primaryObjectives" multiple>
                                <option value="Space">Space</option>
                                <option value="Proximity">Proximity</option>
                                <option value="Safety">Safety</option>
                                <option value="Unity">Neighborhood Unity</option>
                            </select>
                        </div>
                        <div class="form-row">
                            <label>Other Objectives</label>
                            <select name="OtherObjectives" class="select-objectives" id="otherObjectives"
                                ng-model="data.submission.otherObjectives"
                                value="data.solution.otherObjectives" multiple>
                                <option value="minTransitions">Minimize Transitions</option>
                                <option value="education">Education</option>
                                <option value="transportCost">Transportation Cost</option>
                                <option value="composition">Student Body Composition</option>
                                <option value="feeders">Feeder Schools</option>
                                <option value="buildingEfficiency">Building Efficiency</option>
                            </select>
                        </div>
                        <input type="submit" value="Save Solution" />
                        <input type="button" ng-click="EditSolution()" value="Edit Solution" />
                        <input type="button" ng-click="DeleteSolution()" value="Delete Solution" />
                        {{data.solutionSaveResponse}}
                    </form>
                </div>
            </div> <!-- Save Panel -->

            <!-- <pre>data = {{data | json}}</pre> -->
        </div> <!-- Left Panel -->

        <div class="report">
            <div class="page no-break">
                <h1>{{data.mapName}}</h1>
                <h2>{{data.mapDescription}}</h2>
                <div id="map-holder"></div>
                <div class="chart-row">
                    <div ng-bind-html="GenStatsTable()|html"></div>
                </div>
            </div> <!-- page 1 -->

            <div class="no-print"><hr/></div>

            <div class="page no-break">
                <div class="chart-row">
                    <div class="chart-panel">
                        <div class="chart-header">Percent Capacity</div>
                        <div class="chart-box">
                            <canvas id="bar2" class="chart chart-bar"
                                              height="225"
                                              chart-data="data.capacity_p"
                                              chart-labels="data.schools"
                                              chart-series="schools">
                            </canvas>
                            <div class="chart-caption">
                                The population data was extracted from the 'High
                                School Boundary Springboard Proposal', where the
                                numbers were listed per grid code. These values
                                should match the BSD published boundary maps
                                with little error.
                            </div>
                        </div>
                    </div>
                    <div class="chart-panel">
                        <div class="chart-header">Proximity (miles)</div>
                        <div class="chart-box">
                            <canvas id="bar3" class="chart chart-bar"
                                              height="225"
                                              chart-data="data.distance"
                                              chart-labels="data.schools"
                                              chart-series="schools">
                            </canvas>
                            <div class="chart-caption">
                                Proximity is determined through the Google Maps
                                service, calculating driving distance from each
                                grid code centroid to the proposed high school.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chart-row">
                    <div class="chart-panel">
                        <div class="chart-header">Transitions</div>
                        <div class="chart-box">
                            <canvas id="bar4" class="chart chart-bar"
                                              height="225"
                                              chart-data="data.transitions"
                                              chart-labels="data.schools"
                                              chart-series="schools">
                            </canvas>
                            <div class="chart-caption">
                                Transitions are the number of students changing
                                high schools. The number is assigned to the high
                                school they are leaving, indicating impact to
                                that school's existing student body.
                            </div>
                        </div>
                    </div>
                    <div class="chart-panel">
                        <div class="chart-header">Percent Free and Reduced Lunch</div>
                        <div class="chart-box">
                            <canvas id="bar5" class="chart chart-bar"
                                              height="225"
                                              chart-data="data.frl_p"
                                              chart-labels="data.schools"
                                              chart-series="schools">
                            </canvas>
                            <div class="chart-caption">
                                FRL data is based on 2015 Elementary School
                                data. It has been fit to be within 2% of the
                                committee maps. Assume it to be within 5% for
                                custom maps.
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>
                <div style="text-align: left">
                    <ol>
                        <li>
                           Split elementary schools are the number of elementary
                           schools that feed one or more high schools within the
                           high school boundary for the high school total, or
                           within the entire district for the district total.
                        </li>
                        <li>
                            Annual <a href="crashrate.html">crash rate</a> travelling 
                            to and from the proposed school for each student daily for a year.
                        </li>
                    </ol>
                </div>

                <hr/>
                This is a community generated map and is not endorsed in any way
                by the Beaverton School District.
            </div> <!-- page -->
        </div> <!-- report -->

        <div class="panel-right no-print">
            <div class="form-panel">
                <div class="form-header">Instructions</div>
                <div class="form-body">
                    <p>This is a community developed tool to generate proposed
                    attendance boundaries for the Beaverton School District*
                    High Schools.</p>

                    <p>To create your own map, start with the existing
                    boundaries, or load a previously saved map. You can reload
                    the existing boundaries by pressing "Refresh from DB". You
                    can search for maps that meet your criteria in the Load
                    Solution form. Once loaded, you can make your own changes.
                    You will not be able to modify the existing maps, but you
                    can save your changes as a new map in the Save Solution
                    form.</p>

                    <p>Next, select the "Proposed High School" from the drop
                    down list. Then, in the "Apply to" drop down box, choose
                    between applying the proposed high school to individual grid
                    codes, or to all grid codes in the same elementary school
                    boundary.  Finally, click on the map to assign areas to high
                    schools.</p>

                    <p>As you make changes, the statistics are updated in real
                    time below the map to help you evaluate the impact.</p>

                    <p>To share a map, you can print it using your browser's 
                    print feature and save it as a PDF or print it to a printer. 
                    You can also share it with others using Save Solution.</p>
                </div>
            </div> <!-- Instructions -->

            <div class="form-panel">
                <div class="form-header">Stats Summary</div>
                <div class="form-body">
                    <div ng-bind-html="GenStatsSummaryTable()|html"></div>
                </div>
            </div> <!-- Stats Summary -->

            <div class="form-panel">
                <div class="form-header">Site Announcements</div>
                <div class="form-body">
                    <!-- Try to keep this under 5, and one line each -->
                    <!-- Keep for at least 48 hours, no more than a week -->
                    <b>Feb 21, 2016</b><br />
                    <ul>
                        <li>GC802 and GC1111 now correctly assigned to Hiteon ES.  Thank you Julie!</li>

                    </ul>
                    <b>Feb 20, 2016</b><br />
                    <ul>
                        <li>Added <a href="crashrate.html">crash rate description</a></li>
                        <li>Changed scale factor to crash rate per year</li>
                        <li> ctrl+click display grid data</li>
                        <li> ctrl+drag no longer displays grid data</li>
                    </ul>
                    <b>Feb 17, 2016</b><br/>
                    <ul>
                        <li>Elementary School splits data added</li>
                    </ul>
                    <b>Feb 14, 2016</b><br/>
                    <ul>
                        <li>Safety/Crash data added</li>
                        <li>View by Crash Heatmap added</li>
                        <li>Paint by Safest route added</li>
                        <li>Drag to paint feature restored</li>
                    </ul>
                    <!-- Archive
                    <b>Jan 28, 2016</b><br/>
                    <ul>
                        <li>Use FRL from 2015 Elementary School data to more
                            closely approximate the BSD committee maps (within
                            2%).</li>
                        <li>Add "Unassigned" as an option for proposed high
                            school</li>
                        <li>Add hotkeys 1-8 for proposed high school
                            choices.</li>
                    </ul>
                    <b>Jan 26, 2016</b><br/>
                    <ul>
                        <li>Assign by nearest high school.</li>
                        <li>New Stats Summary table in right panel.</li>
                        <li>Google Map Markers for each high school.</li>
                    </ul>
                    -->
                </div>
            </div> <!-- Site News -->

            <div class="form-panel">
                <div class="form-header">Resources</div>
                <div class="form-body">
                    <p>The data used in this tool was manually extracted, and may
                    contain errors, from the following resources:</p>
                    <a href="https://www.beaverton.k12.or.us/depts/facilities/boundary/HS%20Boundary%20Adjustment%20Process/11.12.15/Springboard%20Committee%20Table%20Map.pdf">Grid Codes</a> |
                    <a href="https://www.beaverton.k12.or.us/depts/facilities/boundary/Documents/AllFacilities.pdf">BSD School Boundaries</a>
                    <hr/>
                    <a href="mailto:bhlarson@gmail.com,dvhart@gmail.com?subject=BSD%20Map%20Tool%20Feedback:">Send Feedback</a>
                    <hr/>
                    *This tool and the data provided are in no way authorized or
                    supported by the Beaverton School District.
                </div>
            </div> <!-- Resources -->
        </div> <!-- Right Panel -->
    </div> <!-- Boundary Controller -->
</body>
</html>
